body {
    background-color: darkred;
}
h1 {
    color: black;
    font-family: "Butcherman Caps", "Arial Black",  Gadget, sans-serif;
    text-align: center;
    font-size: 4em;
    margin-bottom: 0;
}

.left_side {
    width: 30%;
    position: absolute;
    left: 0;
}

.right_side {
    width: 30%;
    position: absolute;
    right: 0;
}

.middle-text {
    position: absolute;
    left: 30%;
    width: 40%;
    color: lightgrey;
    font-size: 1.5em;
    text-indent: 50px;
    font-family: "Love Ya Like A Sister", "Arial Black",  Gadget, sans-serif;
}

img {
    width: 100%;
}

iframe {
    width: 100%;
    height: 18em;

}

.link {
    position: relative;
}
.link .text{
    text-align: center;
    font-size: 2em;
    text-indent: 0;
    margin-top: 5em;
    margin-bottom: 5em;
    position: absolute;
    top: 0;
    align-self: center;
    width: 100%;
}
.link .gif {
    position: absolute;
    top: 0;
    padding-top: 1em;
    visibility: hidden;
    width: 100%;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: dimgray;
}

/* mouse over link */
a:hover {
}

a:hover .text{
    visibility: hidden;
}

a:hover .gif{
    visibility: visible;
}

/* selected link */
a:active {
    color: white;
}