body {
    background-color: darkred;
}
h1 {
    color: black;
    font-family: "Arial Black";
    text-align: center;
}

.left_side {
    width: 30%;
    position: absolute;
    left: 0;
}

.right_side {
    width: 30%;
    position: absolute;
    right: 0;
}

img {
    width: 100%;
}